.toolbar__area
{
    border-right: 1px solid #838169;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.size_object_area
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5px 0 5px;
    width: 50%
}
.size_object_span
{
    font-size: 12px;
}
.size_object_input
{
    font-size: 12px;
}
.delete_object_area
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 60px;
    margin-left: 10%;
}
.delete_object__button
{
    height: 22px;
    width: 50%;
    margin-top: 20px;
    background: none;
    border: none;
}
.choose_area
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.choose_object__button
{
    height: 22px;
    background: none;
    border: none;
}
.delete_object__button:hover,
.choose_object__button:hover
{
    cursor: pointer;
}
.botton__img
{
    width: 120%;
    height: 120%;
    padding: 2px
}