*
{
    margin: 0;
    padding: 0
}
html {
    height: 100%;
}

body {
    position: relative;
    margin: ;
    min-height: 100%;
    overflow: hidden;
}
#root {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}